@import "color";

.album-card {
  min-width: 10rem;
  max-width: 10rem;
  min-height: 160px;
  padding: 1rem;
}

.album {
  border: 1px dashed $black;
  min-height: 4rem;
  min-width: 2rem;
}

.user {
  margin-bottom: 2rem;
}

.card-margin {
  margin: 1rem;
}

.album-card-wrapper {
  @extend .card-margin;

  &:hover {
    border: 1px solid $black;
    cursor: pointer;
  }
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  justify-content: space-between;
  grid-gap: 20px;
}
