<mat-card>
  <pa-view-button-bar routerUrl="userOverview" (isReloading$)="reload()"></pa-view-button-bar>
  <ng-container *ngFor="let photoAlbum of photoAlbums; let i = index">
    <div class="user">
      <div class="flex-space-between">
        <mat-card-title>{{photoAlbum.name}}</mat-card-title>
      </div>
      <div class="grid-view">
        <ng-container *ngFor="let albums of photoAlbum.albums">
          <mat-card class="album-card-wrapper" (click)="navigateTo('photoView', albums)">
            <div class="flex-space-between flex-column album-card">
              <div class="album"></div>
              <mat-card-subtitle>{{albums.title}}</mat-card-subtitle>
            </div>
          </mat-card>
        </ng-container>
        <mat-card class="card-margin">
          <div class="flex-space-between flex-column album-card">
            <button mat-flat-button color="primary" (click)="createAlbum(photoAlbum.userId, i)" [disabled]="!albumNames[i]">Add new Album</button>
            <input matInput type="text" [(ngModel)]="albumNames[i]" placeholder="Album-Name"/>
            <mat-card-subtitle></mat-card-subtitle>
          </div>
        </mat-card>
      </div>
    </div>
  </ng-container>
</mat-card>
