<mat-card>
  <div>
    <button color="primary" mat-flat-button [disabled]="!selection.hasValue()" routerLink="/albumView">View Photo-Album</button>
  </div>
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngIf="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address</th>
        <td mat-cell *matCellDef="let element"> {{element.address | userAddress }} </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumNames"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumNames;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
</mat-card>
