@import "color";
@import "flex";
@import "header";
@import "snackbar";

html, body {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: auto;
  max-width: 1200px;
}

main {
  background-color: $application-background;
  padding: 1.25rem;
}
