@import "color";
@import "flex";
@import "header";

html, body {
  font-size: 16px;
  height: 100%;
}

body {
  color: $white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: auto;
  width: 1200px;
}
